/*.square{
	position: relative;
	width: 400px;
	 height: 400px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.square span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #555;
	border-radius: 38% 62% 63% 37% / 41%
	 44% 56% 59%;
	 transition: .5s;
	 animation: animate 6s linear infinite 
}

.square:hover span:nth-child(1){
	border:none;
	background-color: rgba(0,0,255,0.8);

}

.square span:nth-child(2){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 38% 62% 63% 37% / 41%
	 44% 56% 59%;
	 transition: .5s;
	 animation: animate2 4s linear infinite 
}

.square:hover span:nth-child(2){
	border:none;
	background-color: rgba(0,0,255,0.8);

}




.square span:nth-child(3){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 38% 62% 63% 37% / 41%
	 44% 56% 59%;
	 transition: .5s;
	 animation: animate 10s linear infinite 
}

.square:hover span:nth-child(3){
	border:none;
	background-color: rgba(0,0,255,0.8);

}



@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


@keyframes animate2{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
}


.content{
	position: relative;
	padding: 40px 60px;
	color: #fff;
	text-align: center;
	transition: 0.5s;
	z-index: 1000;
}
.aboutLeft{
	z-index: 1000
}*/


.square{
	position: relative;
	width: 400px;
	 height: 400px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.square span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 171, 157, 0.2);;
	border-radius: 38% 62% 63% 37% / 41%
	 44% 56% 59%;
	 transition: .5s;
	 animation: animate 6s linear infinite 
}

.square:hover span:nth-child(1){
	border:none;
	background-color: rgba(100, 10, 10, 0.2);

}

.square span:nth-child(2){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 171, 157, 0.2);
	border-radius: 38% 62% 63% 37% / 41%
	 44% 56% 59%;
	 transition: .5s;
	 animation: animate2 4s linear infinite 
}

.square:hover span:nth-child(2){
	border:none;
	background-color: rgba(100, 10, 10, 0.2);

}




.square span:nth-child(3){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 171, 157, 0.2);
	border-radius: 38% 62% 63% 37% / 41%
	 44% 56% 59%;
	 transition: .5s;
	 animation: animate 10s linear infinite 
}

.square:hover span:nth-child(3){
	border:none;
	background-color:rgba(100, 10, 10, 0.2);

}



@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


@keyframes animate2{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
}



#about {
	padding: 74px 0px;
	border-bottom: 1px solid #eee;
}
#about h1{
	padding: 35px 0px;
	box-sizing: border-box;
}
.fullAbout{
	margin-top: 50px;
}

@media (max-width: 765px) {
	#about {
		padding: 20px 0px 120px 0px;
	}
}

#about .right-text {
	align-self: center;
}

#about .right-text p {
	margin-bottom: 40px;
}

#about2 {
	padding: 120px 0px;
}

#about2 .right-image {
	align-self: center;
}

#about h5,
#about2 h5 {
	font-size: 26px;
	font-weight: 700;
	color: #1e1e1e;
	line-height: 40px;
	margin-bottom: 25px;
	letter-spacing: 0.5px;
}

#about p,
#about2 p {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.5px;
}

#about2 ul li img {
	display: inline;
	float: left;
}

.aboutpict{
	border: 1px solid lightgray;
	/*  border-radius: 30% 40% 50%/70% 10% 90%;*/
	border-radius: 30% 65% 50%/81% 10% 63%;
	box-shadow: 6px 4px 15px 8px;
	position: relative;

}




#about2 ul li .text {
	margin-left: 80px;
}

#about2 ul li .text h6 {
	padding-top: 12px;
	font-size: 21px;
	font-weight: 500;
	color: #1e1e1e;
	margin-bottom: 20px;
}



a.main-button {
	font-size: 13px;
	border-radius: 20px;
	padding: 12px 20px;
	background-color: /*#00b4c6*/ pink;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.25px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}




@media screen and (max-width: 600px) {
		.about-detail ul { padding-left: 20px;	}
		img.left {
			float: none;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}


	}




.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;

    }

    .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    }